<%= form_for [@workshop, @question] do |f| %>

    <div class="form-group"> 
        <label for="name">Ask a Question</label>
        <%= f.text_field :query %>
    </div>


    <div> <%= f.button :submit %> </div>
<% end %>

