<h1>
    <%= @workshop.name %> Questions
</h1>

<% @workshop.questions.each do |single_question| %>
    <h3>
        <%= single_question.query %>
    </h3>
<% end %> <br><br>

<%= link_to 'Ask A Question', new_question_path %>

