<div class="question-wrapper">

    <h1>
        <%= @workshop.name %>
    </h1>

    <% @workshop.questions.each do |single_question| %>
        
        <div class="question">
        <h3><u>Question</u></h3>
            <p>
                <%= single_question.query %>
            </p>
        </h3>
        </div>

    
    <% end %> <br>
</div>
