<div class="wrapper">

    <h3>
        Which workshop are you attending?
    </h3>

    <% @workshop.each do |single_workshop| %>

        <div class="workshop-name">
            <h2>
                <%= link_to single_workshop.name, new_question_path %>
            </h2>
        </div>
    <% end %><br>

</div>

<%= link_to 'Add New Workshop', new_workshop_path %> 
